/* Write your code here. */
.nav-bar-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  padding: 8px;
}
.title-with-score-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
  max-width: 1000px;
}
.logo-and-title-container {
  display: flex;
  align-items: center;
}
.emoji-logo {
  width: 48px;
}
.title {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto';
}
.scores-container {
  display: flex;
}
.score {
  font-size: 24px;
  margin-left: 32px;
  color: #ffffff;
  font-weight: bold;
}
